<%- include('partials/header.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>

    <div class="container">
        <h1> <%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>

        <form action="">
            <h3>Responda</h3>
            <label >Resposta:</label> <br>
            <textarea name="corpo"  class="form-control"></textarea><br>
            <!-- pergunta id - dinamico
            clicar responder - o id já habilita
            -->
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>" > 
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h1>Respostas</h1>

        Respostas serão exibidas aqui embaixo
    </div>
  
</body>
<%- include('partials/footer.ejs')%>